@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,700&display=swap');

nav {
    height: 20vh;
    width: 100%;
    background-color: #c41d00;
    color: #000;
  }
  .navitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navitems h2 {
    font-size: 70px;
    margin-left: 38%;
    font-family: 'Ubuntu', sans-serif;
  }

  .navitems h2:hover{
    color:wheat;
  }

  .navitems button {
    width: 10%;
    height: 5vh;
    /* margin-right: 10%; */
    border: 2px solid transparent;
    border-radius: 30px;
    background: black;
    color: rgb(242, 248, 243);
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: auto 0px;
  }
  .fetchbtn:hover {
    background-color:gray;
    color: black;
  }
  .userdatacontainer {
    width: 100%;
    height: fit-content;
    background-color: black;
  }
  #main {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
  }

  .name{
    transition: transform ease 0.2s;
  }

  .name:hover {
    transform:scale(1.1);
    color: black;
  }
  .avatar {
    border-radius: 67%;
    transition: transform ease 0.2s;
  }

  .avatar:hover{
    transform:scale(1.1);
  }

  .profile_cont {
    border-radius: 68%;
    background-color: rgb(94, 42, 0);
    color: white;
    margin: 30px;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: transform ease 0.2s;
    /* opacity: 0.8; */
    margin-top: 0vh;
  }
  .profile_cont:hover {
    transform: scale(1.1);
    /* opacity: 1; */
  }